{% extends 'base.html.twig' %}

{% block title %}Assets{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center">
        <div class="row justify-content-center">
            <div class="col text-center">
                <a href="{{ path('app_list_asset') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="lucide:list" class="icon"/>
                    <h2>Listar Assets</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_add_asset') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="fluent-mdl2:add-in" class="icon"/>
                    <h2>Adicionar Asset</h2>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
