{% extends 'base.html.twig' %}

{% block title %}Assets{% endblock %}

{% block body %}
<div class="d-flex align-items-center">
    <div class="container">
        <h1>Assets</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tempresa</th>
                    <th>Ticker</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in assets %}
                    <tr>
                        <td>{{ asset.id }}</td>
                        <td>{{ asset.company.getName }}</td>
                        <td>{{ asset.ticker }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
