{% extends 'base.html.twig' %}

{% block title %}Wiggadom{% endblock %}

{% block body %}
<div class="bg-default d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <a href="{{ path('app_home') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="material-symbols-light:home-outline" class="icon"/>
                    <h2>Página Inicial</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_asset') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="mdi:users" class="icon"/>
                    <h2>Usuários</h2>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
