/* body {
    background-color: skyblue;
} */

/* From below is new code apart from original */

.bg-grd {
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.login-container {
    max-width: 400px;
}