{% extends 'base.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block body %}
<h1>Empresa</h1>
    <div class="container d-flex align-items-center">
        <div class="row justify-content-center">
            <div class="col text-center">
                <a href="{{ path('app_company_new') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:baseline-domain-add" class="icon"/>
                    <h2>Adicionar Empresa</h2>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_company_list') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:baseline-format-list-numbered" class="icon"/>
                    <h2>Listar empresas</h2>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
