{% extends 'base.html.twig' %}

{% block title %}Setor{% endblock %}

{% block body %}
<h1>Setor</h1>
    <div class="container d-flex align-items-center">
        <div class="row justify-content-center">
            <div class="col text-center">
                <a href="{{ path('app_new_sector') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:baseline-category" class="icon"/>
                    <h3>Adicionar setor</h3>
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ path('app_add_asset') }}" class="text-decoration-none text-reset">
                    <twig:ux:icon name="ic:baseline-format-list-numbered" class="icon"/>
                    <h2>Listar setores</h2>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
