{# templates/transaction/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Adicionar Transação{% endblock %}

{% block body %}
<div class="d-flex align-items-center">
    <div class="container">
        <h1>Adicionar movimentação</h1>
        <p>Adicione uma movimentação.</p>
        <div class="mt-5">
            {% include 'transaction/_form.html.twig' with {'form': form} %}
        </div>
    </div>
</div>
{% endblock %}